In [5]:
import pandas as pd
import glob
import os

In [6]:
path = r'C:\Users\joy\Documents\Data Viz\datasets\weekly_call_data'
all_files = glob.glob(os.path.join(path, "*.xlsx"))

In [9]:
df_from_each_file = (pd.read_excel(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [10]:
concatenated_df.head()

,CallingNumber,DayOfWeek,TimeOfDay,CallDuration,ReasonForCall,AnsweringAgent
0,774-823-8593,thu,10:30,20,Product Inquiry,Cameron
1,432-403-9821,fri,11:24,10,Complaint,Cameron
2,274-683-6814,tue,15:43,17,Technical Support,Kennedy
3,681-402-6913,tue,13:44,2,Technical Support,Lisa
4,242-336-6459,wed,10:50,19,Technical Support,Kennedy

In [11]:
concatenated_df.shape

(129588, 6)