In [ ]:
#Chapter 2 - Page 7

In [11]:
import pandas as pd

In [12]:
df = pd.read_excel('C://Users/joy/Downloads/HEA01.xls')

In [13]:
df.head()

,Areaname,STCOU,HEA010198F,HEA010198D,HEA010198N1,HEA010198N2,HEA010199F,HEA010199D,HEA010199N1,HEA010199N2,...,HEA010205N1,HEA010205N2,HEA010206F,HEA010206D,HEA010206N1,HEA010206N2,HEA010207F,HEA010207D,HEA010207N1,HEA010207N2
0,UNITED STATES,0,1,37998035,7024,0,1,38299382,7024,0,...,7024,0,1,41963618,7024,0,1,43131635,7024,0
1,ALABAMA,1000,1,669585,7022,0,1,676569,7022,0,...,7022,0,1,764592,7022,0,1,785814,7022,0
2,"Autauga, AL",1001,0,5064,0,0,0,5192,0,0,...,0,0,0,7018,0,0,0,7327,0,0
3,"Baldwin, AL",1003,0,21915,0,0,0,22449,0,0,...,0,0,0,30130,0,0,0,31235,0,0
4,"Barbour, AL",1005,0,4359,0,0,0,4389,0,0,...,0,0,0,4974,0,0,0,5075,0,0

In [14]:
df.shape

(3198, 42)